NET "xout<0>"        LOC =  "S:PIN1";
NET "xout<1>"        LOC =  "S:PIN2";
NET "xout<2>"        LOC =  "S:PIN3";
NET "xout<3>"        LOC =  "S:PIN4";
NET "bus<0>"         LOC =  "S:PIN6";
NET "bus<1>"         LOC =  "S:PIN7";
NET "bus<2>"         LOC =  "S:PIN8";
NET "bus<3>"         LOC =  "S:PIN9";
NET "bus<4>"         LOC =  "S:PIN10";
NET "bus<5>"         LOC =  "S:PIN11";
NET "bus<6>"         LOC =  "S:PIN12";
NET "bus<7>"         LOC =  "S:PIN13";
NET "addr<0>"        LOC =  "S:PIN14";
NET "addr<1>"        LOC =  "S:PIN15";
NET "addr<2>"        LOC =  "S:PIN16";
NET "addr<3>"        LOC =  "S:PIN17";
NET "addr<4>"        LOC =  "S:PIN18";
NET "addr<5>"        LOC =  "S:PIN19";
NET "addr<6>"        LOC =  "S:PIN20";
NET "clk"            LOC =  "S:PIN22";
NET "addr<7>"        LOC =  "S:PIN23";
NET "addr<8>"        LOC =  "S:PIN24";
NET "addr<9>"        LOC =  "S:PIN25";
NET "addr<10>"       LOC =  "S:PIN27";
NET "addr<11>"       LOC =  "S:PIN28";
NET "addr<12>"       LOC =  "S:PIN29";
NET "addr<13>"       LOC =  "S:PIN30";
NET "addr<14>"       LOC =  "S:PIN32";
NET "addr<15>"       LOC =  "S:PIN33";
NET "out<0>"         LOC =  "S:PIN34";
NET "out<1>"         LOC =  "S:PIN35";
NET "out<2>"         LOC =  "S:PIN39";
NET "out<3>"         LOC =  "S:PIN42";
NET "out<4>"         LOC =  "S:PIN43";
NET "out<5>"         LOC =  "S:PIN46";
NET "out<6>"         LOC =  "S:PIN49";
NET "out<7>"         LOC =  "S:PIN50";
NET "romdata<0>"     LOC =  "S:PIN52";
NET "romdata<1>"     LOC =  "S:PIN53";
NET "romdata<2>"     LOC =  "S:PIN54";
NET "romdata<3>"     LOC =  "S:PIN55";
NET "romdata<4>"     LOC =  "S:PIN56";
NET "romdata<5>"     LOC =  "S:PIN58";
NET "romdata<6>"     LOC =  "S:PIN59";
NET "romdata<7>"     LOC =  "S:PIN60";
NET "romdata<8>"     LOC =  "S:PIN61";
NET "romdata<9>"     LOC =  "S:PIN63";
NET "romdata<10>"    LOC =  "S:PIN64";
NET "romdata<11>"    LOC =  "S:PIN65";
NET "romdata<12>"    LOC =  "S:PIN66";
NET "romdata<13>"    LOC =  "S:PIN67";
NET "romdata<14>"    LOC =  "S:PIN68";
NET "romdata<15>"    LOC =  "S:PIN70";
NET "reset_n"        LOC =  "S:PIN71";
NET "pc<0>"          LOC =  "S:PIN72";
NET "pc<1>"          LOC =  "S:PIN73";
NET "pc<2>"          LOC =  "S:PIN74";
NET "pc<3>"          LOC =  "S:PIN76";
NET "pc<4>"          LOC =  "S:PIN77";
NET "pc<5>"          LOC =  "S:PIN78";
NET "pc<6>"          LOC =  "S:PIN79";
NET "pc<7>"          LOC =  "S:PIN80";
NET "pc<8>"          LOC =  "S:PIN81";
NET "pc<9>"          LOC =  "S:PIN82";
NET "pc<10>"         LOC =  "S:PIN85";
NET "pc<11>"         LOC =  "S:PIN86";
NET "pc<12>"         LOC =  "S:PIN87";
NET "pc<13>"         LOC =  "S:PIN89";
NET "pc<14>"         LOC =  "S:PIN90";
NET "pc<15>"         LOC =  "S:PIN91";
NET "xout<4>"        LOC =  "S:PIN92";
NET "xout<5>"        LOC =  "S:PIN93";
NET "xout<6>"        LOC =  "S:PIN94";
NET "xout<7>"        LOC =  "S:PIN95";
NET "ie_n"           LOC =  "S:PIN96";
NET "oe_n"           LOC =  "S:PIN97";
NET "rw_n"           LOC =  "S:PIN99";

#Created by Constraints Editor (xc95144xl-tq100-10) - 2022/01/17
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 160 ns HIGH 40%;
